# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Capacitor native builds
/android/app/build
/ios/App/build
/ios/App/Pods
/ios/App/App/public

# Misc
*.tmp
.cache
